@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@_localizer["title"]</title>
</head>
<body>
    <script src="~/layuiadmin/layui/layui.js"></script>
    <script>
    layui.use(['form', 'layer'], function () {
        var layer = layui.layer;

        layer.msg("@ViewData["Message"]", {
            time: 2000
        }, function () {
            window.location.href = "/";
        });
    });
    </script>
</body>
</html>