@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>@Localizer["Title"]</h1>

    <p>1111111</p>
    <p>2222222</p>
    <p>3333333</p>
</body>
</html>